/* CSS Reset */
body, h1, h2, h3, p, ul, li, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 15px;
}

p {
    color: #666;
}

/* Navigation Bar Styles */
nav {
    background-color: #4A8FE7; /* Feel free to choose your own color */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #366ab5; /* Darker shade for hover effect */
}

section {
    padding: 20px;
    margin: 20px 0;
}

#color-psychology {
    background-color: #e0e0e0; /* Light grey background */
    /* Add more styles as needed */
}

/* Repeat for other sections with different styles */


@media (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
        padding: 10px;
    }
}
